<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <mappers>
    <mapper resource="mapper/BookMapper.xml"/>
    <mapper resource="mapper/BookChapterMapper.xml"/>
    <mapper resource="mapper/BookSectionMapper.xml"/>
    <mapper resource="mapper/BookLabelMapper.xml"/>
    <mapper resource="mapper/CrawlerBookTypeMapper.xml"/>
    <mapper resource="mapper/YellowBookLabelMapper.xml"/>
    <mapper resource="mapper/YellowBookSectionMapper.xml"/>
    <mapper resource="mapper/YellowCrawlerErrorMapper.xml"/>

  </mappers>
</configuration>